*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.page{

  display: flex;
  justify-content: center;
  align-items: center;

}





.content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  gap: 30px;
  width:1140px;
  height: 534px;
  //background-color: #545010;

  
}

.result__video-container{
position: relative;
width: 711px;
height: 386px;
margin-bottom: 17px;
}

.result__video{

  width: 100%;
  height: 100%;
  object-fit: cover;

}


.search-form{

 
display: grid;
grid-template-columns: 265px 252px auto;
justify-items: start;





}

.content__list{

  position: relative;
  height: 298px;
  overflow-y: auto;
 
}


.content__details{

width: 100%;
/*height: 100%;*/

}

.title{
font-family: Oswald, sans-serif;
margin-bottom: 24px;
font-weight: 700;
font-size: 75px;
line-height: 93%;

text-transform: uppercase;
color: white;
}
.content__accent{
  color: #545050;
}


.content__card-link{

  color: #fff;
  text-decoration:none;



}


.content__video-card-title{

  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  
  margin-bottom: 6px;


}



.content__video-card-description{

  font-weight: normal;
  font-size: 18px;
  line-height: 90%;
 


}




.content__list-item{

margin-bottom: 30px;


}



.content__video-card{

display: flex;
flex-direction: row;
justify-content: space-between;
align-items: start;


}

.content__video-card-thumbnail{

  object-fit: cover;
  width: 194px;
  height: 103px;

}

.content__video-card-description-container{

width: 100%;
height: 100%;


}



.search-form__fieldset-title{

 
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  margin-bottom: 5px;
  

}


.search-form__fieldset{
/*margin-right: 40px;*/
border:none;

}



.search-form__fieldset:nth-child(1)
{
  margin-right: 40px;
 
  
}


  


.search-form__label{
  display: flex;
  flex-direction: row;
  width: fit-content;
 

}


.search-form__checkbox-list{

  display: flex;
  flex-direction: row;


}


.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
} 



.search-form__textfield{
border: none;
background-color: transparent;
width: 225px;
font-weight: 400;
font-size: 18px;

appearance: none;

font-family: inherit; 
color: inherit;
border-bottom: 1px solid white;
border-top: 1px solid white;
margin-bottom: 1px;


}


input[type="checkbox"]:disabled {} /* выключённый */
input[type="checkbox"]:checked {} /* выбранный */
input[type="checkbox"]:focus-visible {} /* в фокусе */ 


.search-form__pseudo-checkbox{

width: 19px;
height: 19px;
border: 1px solid white;
margin-top: 1px;
}

.search-form__pseudo-checkbox:checked{

  width: 19px;
  height: 19px;
  border: 1px solid white;
  margin-top: 1px;

  }
  



.search-form__label-text{

  margin-left: 5px;
  margin-right: 15px;

}


.button
{
  cursor: pointer;

  border: 1px solid #fff;
 background-color: transparent;
 font-weight: 700;
 font-size: 18px;
 text-align: center;
 color: #fff;
 font-family: inherit;

}


.search-form__submit-button{


  width: 194px;
  height: 34px;
  align-self: flex-end;
 


}

.more-button{

border: 1px solid #fff;
width: 399px;
height: 34px;
}